@import 'variables';
@import 'utilities';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $white-color;
  font-family: $font-stack;
  line-height: 1.5;
}

a,
ul li {
  color: $white-color;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

#header-home {
  height: 100vh;
  background: url('../img/hero-bg.png') no-repeat center center/cover;
}

// Navigation
#main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

  ul {
    display: flex;

    li {
      padding: 20px;
      text-transform: uppercase;

      a.current,
      a:hover {
        color: $primary-color;
      }
    }
  }
}

// Hero
#hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 30px;
  height: 70vh;

  .hero-content {
    color: $white-color;

    h1 {
      font-size: 3rem;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.2;
      margin-bottom: 20px;
    }

    p {
      font-size: 1rem;
      margin-bottom: 30px;
    }
  }
}

// About
#about {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 30px;

    div {
      h3 {
        font-size: 2rem;
        margin-bottom: 20px;
      }

      p {
        margin-bottom: 20px;
        font-weight: 300;
      }

      .btn {
        margin-top: 20px;
      }
    }
  }
}

// Team
#team {
  .teams-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    gap: 1.5rem;

    div {
      background-color: #00285a;
      padding: 20px 15px;

      img {
        width: 120px;
        border: 5px solid #fff;
        border-radius: 50%;
        margin-bottom: 15px;
      }

      h3 {
        color: $primary-color;
        line-height: 2;
      }

      .social {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin: 20px auto;

        i {
          font-size: 1.2rem;
          margin-right: 15px;
        }
      }
    }
  }
}

// Customers
#customers {
  .customers-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    .box {
      background-color: #f9f9f9;
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
      padding: 75px 25px 25px 25px;
      position: relative;

      img {
        width: 100px;
        border-radius: 50%;
        position: absolute;
        top: -40px;
        left: 20px;
      }

      .position {
        display: flex;
        justify-content: space-between;
        text-align: left;

        p {
          font-weight: 300;
          margin-bottom: 1rem;
        }

        i {
          font-size: 1.3rem;
        }
      }
    }
  }
  .icon {
    display: inline-block;
    border: 5px solid #eee;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
    padding: 2px 4px;
    cursor: pointer;

    i {
      margin-right: 5px;
    }
  }
}
